@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(220, 220, 220);
  
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0;
  margin-bottom: 1rem;
  background-image: linear-gradient(180deg, rgb(119, 1, 1), rgba(193, 8, 24, 0.929));
  border-bottom: 2px solid rgb(208, 208, 208);
}

.app-title {
  color: rgb(220, 220, 220);
  text-shadow: 1px 1px 4px black;
  letter-spacing: .8rem;
  max-width: 100px;
}

.app-subheader {
  margin: 0;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}

.meme-form {
  display: flex;
  justify-content: space-around;
  padding: 1.8rem;
  margin: auto;
  max-width: 580px;
  border-radius: 20px;
  box-shadow: 0 3px 8px black;
  background-image: linear-gradient(180deg, rgb(145, 3, 3), rgba(193, 8, 24, 0.929));

}

input, button {
  font-size:  .7rem;
  padding: 8px;
}

input {
  border-radius: 9.5px;
  padding: 5px;
  background-color: rgb(220, 220, 220);
}

button {
  border-radius: 40px;
  color: rgb(220, 220, 220);
  background-image: linear-gradient(90deg, rgb(54, 54, 54), rgb(117, 114, 114), rgb(54, 54, 54));
  transition: all ease-in-out .5s;
}

button:hover {
  background-image: linear-gradient(90deg, rgb(102, 102, 102), rgb(117, 114, 114), rgb(177, 177, 177));
}

.meme-container {
  margin-bottom: 2rem;
}

.meme-container, .saved-meme-container {
  position: relative;
  text-align: center;
  color: white;
  padding: 1rem;
}

.meme-image {
  max-width: 100%;
  margin-top: 1rem;
  border-radius: 20px;
  box-shadow: 0 3px 8px black;
}

.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 2.5rem 5px;
  font-size: 1.8rem;
  color: rgb(255, 255, 121);
  text-shadow: 0px 1px 9px black, 0 1px 9px black;
  letter-spacing: 3px;
}


.top {
  top: 0;
}

.bottom {
  bottom: 0;
}




li {
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

.saved-title {
 position: relative;
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  color: rgb(130, 8, 8);
  text-shadow: 1px 1px 4px rgb(147, 147, 147);
  letter-spacing: .2rem;
}

.saved-meme-container {
  display: block;
}

.button-container {
  display: flex;
  margin: 0 30%;
  justify-content: space-around;
}

.meme-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 1rem;
  padding-bottom: 8rem;

}

.saved-memes {
  box-shadow: 2px 2px 6px rgb(102, 102, 102);
  background-image: linear-gradient(180deg, grey, rgb(207, 207, 207));
  padding: 2rem;
  border-radius: 20px;
  width: 400px;
  display: block;
  width: 400px;
}

.edit-form {
  display: inline-block;
  margin: auto;
  text-align: center;
  padding: .5rem;
}

.submit-button {
  margin-top: 1rem;
}