.meme {
  position: relative;
}
.meme--image {
  max-width: 100%;
  border-radius: 5px;
  margin: 0 50%;
  transform: translateX(-50%);
}
.meme--Text {
position: absolute;
width: 80%;
text-align: center;
left: 50%;
transform: translateX(-50%);
margin: 15px 0;
text-transform: uppercase;
letter-spacing: 1px;
color: white;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr ;
  gap: 17px;
  margin-bottom: 17px;
}

button {
  cursor: pointer;
  grid-column: 1 /-1;
  color: white;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
}
input {
  align-items: center;
  
}
