@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');

/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
 */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  
}

.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem 0;
  background-image: linear-gradient(180deg, rgb(145, 3, 3), rgba(193, 8, 24, 0.929));
  border-bottom: 2px solid rgb(208, 208, 208);
}

.app-title {
  color: rgb(220, 220, 220);
  text-shadow: 1px 1px 4px black;
  letter-spacing: .8rem;
  max-width: 100px;
}

.app-subheader {
  margin: 0;
  padding-right: 1rem;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 100;
}

.app-container {
  background-image: linear-gradient(180deg, rgb(239, 239, 239), rgba(226, 226, 226, 0.929));
  height: 100%;
}

.meme {
  position: relative;
  text-align: center;
  color: white;
}

.meme-image {
  max-width: 100%;
}

.meme-text {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-size: 2.1rem;
  text-shadow: 1px 1px 7px black;
  letter-spacing: 3px;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}
